.page-header
  %h1 Welcome!
%p.lead
  This rails project demonstrates simple integeration with a third party API, without having database. Follow this link for more sample
  %a{href:'https://github.com/MohamedBrary?tab=repositories', target: :_blank}
    Rails 5 applications
  \.
%h4 Main components:
%ul
  %li API adapter wrapping integeration with the third party logic
  %li Tableless models to wrap remote resources logic and attributes ()
  %li Simple token based authentication with API
  %li Rspec and Capybara automated testing, and test coverage for key features

%h4 Login as:
%ul
  %li Email:   'savvas@dopios.com'
  %li Password: 'Accounts12'
%hr
%a.btn.btn-primary{ href: 'https://github.com/MohamedBrary/rails5-api-integeration', target: :_blank }
  Github Repository

%a.btn.btn-default{ href: 'https://gist.github.com/MohamedBrary/12465abb009d5dbeadeb8cde9adb30b5', target: :_blank }
  Gist Used

%br
%br
.alert.alert-info
  For a full featured Rails 5 starter application with
  %b
    React
  integeration check this
  %b
    %u
      %a{ href: 'https://github.com/MohamedBrary/rails_starter_react', target: :_blank }
        Github Repository

  \.
